:root {
    --primary-color:#33ffff;
  --secondary-color:#33ff33;
  --third-color:#ffff33;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    padding: 20px 35px;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    

}
header a {
    text-decoration: none;
}
.hero {

}